extends layout

block pagescript
  != js("root")

block content
  #container-404.gry.grid_12
    h1 404 page or file not found, are you lost?
    h3 don't get lost planning a night out in NYC, click up top to explore all the city has to offer at night