extends layout

block stylescript
  != css('site')

block pagescript
  != js("index")

block content
  #container-404.gry.grid_12
    h1 Looks like we might have a problem
    h2 please try reloading this page
