extends layout

block pagescript
  != js("root")

block content
  #container-404.gry.grid_12
    h1 Looks like we might have a problem
    h2 please try reloading this page
    h3 Citiology helps you stay in the know, so you don't look like a fool, kind of like we do right now for serving up this ERROR! Our crack team of wing nuts have been called out of bed to get this fixed.