!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title} | Fundrcloud

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    block stylescript

  body(data-spy='scroll', data-target='.subnav', data-offset='50')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Fundrcloud
          .nav-collapse
            ul.nav
              li.active
                a(href='/') Home
              li
                a(href='/modeler') Modeler
              li
                a(href='/template') Layouts
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | My Funds
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Growth
                  li
                    a(href='#') Indicies
                  li
                    a(href='#') Startup Fund
                  li.divider
                  li
                    a(href='#') Create Fund
            form.navbar-search.pull-left(action='')
              input.search-query.span2(type='text', placeholder='Search')
            ul.nav.pull-right
              li.divider-vertical
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Profile
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='#') Settings
                  li
                    a(href='#') Notifications
                  li
                    a(href='#') Change Password
                  li.divider
                  li
                    a(href='#') Logout


    .container.body-content

      block content

      //
         Footer
      footer.footer
        p.pull-right
          a(href='#') Back to top
    //
       /container

    block pagescript

