@import "./site.styl"

.perf-chart-container
  background-color #666

.perf-chart-legend
  background-color #777

.axis path, .axis line, .axis text
  fill none
  stroke lightsteelblue

.axis path, .axis line
  shape-rendering crispEdges

.area
  fill steelblue

.line
  fill none
  stroke orange
  stroke-width 1.5px

.dot
  fill white
  stroke orange
  stroke-width 1.5px