extends ../layout-inner

block pagescript
  != js("interview")

block content
  section.single.interview.gry.clearfix
    article.clearfix

      //
        single full: interview: column left: bio
      .aside.bio.grid_4
        h4.h-category Interview
        h2
          = dataRes.actual.Interviewee[0].DisplayName
        .profile.clearfix
          figure.thumb.left
            img.left(src="#{dataRes.actual.Image1}")
          p
            = dataRes.actual.Title
        //
          part: ahare
        .share
          ul
            //
              share: facebook
            li
              .fb-like(data-href='', data-send='false', data-layout='button_count', data-width='450', data-show-faces='false')
            //
              share: twitter
            li
              a.twitter-share-button(href='https://twitter.com/share', data-text='', data-via='', data-count='horizontal', data-url='', data-counturl='', data-related='', data-hashtags='') Tweet
            //
              share: plusone
            li
              .plusone
                .g-plusone(data-size='medium', data-annotation='bubble', data-width='50')
        //
          bio facts: Resume
        .bio-fact
          h3 Resume
          p
            = dataRes.actual.Interviewee[0].Resume
        //
          bio facts: Find Me
        .bio-fact
          h3 Find Me
          p
            = dataRes.actual.Interviewee[0].FindMeAt
        //
          bio facts: Contact
        .bio-fact
          h3 Contact
          ul
            - each meta, i in dataRes.actual.Interviewee[0].MetaList
              li
                p
                  a(href="#{meta.Uri}", target="_blank")
                    = meta.Name
                span.ico.jump
        //
          bio facts: Playlists
        .bio-fact
          h3 Playlists
          ul
            - each playlist in dataRes.actual.Playlists
              li
                h4
                  a(href="/playlist/#{playlist.UrlKey}")
                    = playlist.Name
                span.ico.jump
                p
                  = playlist.Summary

        .a_widget
          img(src='/img/300x250.png')
        //
          widget: aside: Featured Playlists
        #more-playlists-widget.widget.box.wht.w-more-playlists

      //
        single full: interview: column right: questions
      .copy.grid_8
        .whtbg
          != dataRes.actual.Content

        //
          widget: full: Featured Interview
        #more-interviews-widget.widget.box.wht


  != partial("../widgets/interview-more.jade")
  != partial("../widgets/playlist-more.jade")