extends ../layout-inner

block stylescript
  != css('modeler')

block pagescript
  != js("modeler")

block content
  .well
    .form-search
      span.ifiinvest-label
        | If I Invest
      .ifiinvest-entry.input-prepend.inline
        span.add-on $
        input.input-small(type="text", placeholder="1000.00")
      a#trigger-modeling.btn.btn-success(href="#")
        | model investment

    .row
      .span8
        #modeler-chart-main

        .row
          .span2
            .alert.alert-error
              a.close ×
              h1 J. Smith
              | I focus on the clean energy space...
              h2 (10%)
          .span2
            .alert.alert-success
              a.close ×
              h1 House Fund
              h2 8.5%
          .span2
            .alert.alert-info
              a.close ×
              h1 A. Droid
              | Startup tech & social media...
              h2 NC
          .span2
            .alert.alert-success
              a.close ×
              h1 DOW
              h2 1.2%

      .span3
        h2
          | June 2, 2010

        .alert.alert-block.industry-news
          h3 Industry News
          ul
            li item 1

        .alert.alert-block.world-news
          h3 World News
          ul
            li item 1

        .alert.alert-block.world-news
          h3 Markets
          ul
            li NYSE 10,000
            li NASDAQ 3,000
