extends ../layout-inner

block stylescript
  != css('modeler')

block pagescript
  != js("modeler")

block content
  .well
    .form-search
      span.ifiinvest-label
        | If I Invest
      .ifiinvest-entry.input-prepend.inline
        span.add-on $
        input.input-small(type="text", placeholder="1000.00")
      a#trigger-modeling.btn.btn-success(href="#")
        | model investment

    #modeler-chart-main
